.posts {
  button {
    border: none;
    background: transparent;
    font-weight: 600;
    font-size: 1.125rem;
    color: var(--highlight);
    margin-top: 4rem;
    transition: filter 0.3s;

    &:hover {
      filter: brightness(0.8);
    }
  }
}

.post {
  margin-top: 2rem;

  > a {
    display: block;
  }

  & + a {
    margin-top: 3rem;
  }

  strong {
    font-size: 1.75rem;
    font-weight: bold;
    color: var(--heading);
    transition: filter 0.3s;

    &:hover {
      filter: brightness(0.9);
      color: var(--highlight);
    }
  }

  p {
    margin-top: 0.5rem;
    font-size: 1.125rem;
  }

  ul {
    list-style: none;
    margin-top: 1.5rem;
    display: flex;

    & li {
      font-size: 0.875rem;

      & svg {
        margin-right: 0.5rem;
      }

      & + li {
        margin-left: 1.625rem;
      }
    }
  }
}
